---
import { SITE } from 'astrowind:config';
---

<span
  class="inline-flex items-center gap-2 self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-heading whitespace-nowrap"
>
  {SITE?.name}
</span>
